*.bak
*.pyc
#flaskblog/static/pdf/
#flaskblog/static/pdf/*.001
#flaskblog/static/pdf/*.002
#flaskblog/static/pdf/*.003
#flaskblog/static/pdf/*.004
#flaskblog/static/pdf/*.005
#flaskblog/static/pdf/*.006
flaskblog/static/pdf/weekly052923.pdf
flaskblog/static/pdf/weekly060523.pdf
flaskblog/static/pdf/weekly061223.pdf
flaskblog/static/pdf/weekly061923.pdf
flaskblog/static/pdf/weekly062623.pdf
flaskblog/static/pdf/weekly070323.pdf
flaskblog/static/pdf/weekly071023.pdf
flaskblog/static/pdf/weekly071723.pdf
flaskblog/static/pdf/weekly971723.pdf
flaskblog/static/pdf/weekly072423.pdf
flaskblog/static/pdf/weekly073123.pdf
flaskblog/static/pdf/weekly080723.pdf
flaskblog/static/pdf/weekly081423.pdf
flaskblog/static/pdf/weekly082123.pdf
flaskblog/static/pdf/weekly082823.pdf
flaskblog/static/pdf/weekly090423.pdf
flaskblog/static/pdf/weekly091123.pdf
flaskblog/static/pdf/weekly091823.pdf
flaskblog/static/pdf/weekly092523.pdf
flaskblog/static/pdf/weekly100223.pdf
flaskblog/static/pdf/weekly100923.pdf
flaskblog/static/pdf/weekly101623.pdf
flaskblog/static/pdf/weekly102323.pdf
flaskblog/static/pdf/weekly103023.pdf
flaskblog/static/pdf/weekly110623.pdf
flaskblog/static/pdf/weekly111323.pdf
flaskblog/static/pdf/weekly112023.pdf
flaskblog/static/pdf/weekly112723.pdf
flaskblog/static/pdf/weekly120423.pdf
flaskblog/static/pdf/weekly121123.pdf
flaskblog/static/pdf/weekly121823.pdf
flaskblog/static/pdf/weekly122523.pdf
flaskblog/static/pdf/weekly010124.pdf
flaskblog/static/pdf/weekly010824.pdf
flaskblog/static/pdf/weekly011524.pdf
flaskblog/static/pdf/weekly012224.pdf
flaskblog/static/pdf/weekly012924.pdf
flaskblog/static/pdf/weekly020524.pdf

