*.bak
*.pyc
#flaskblog/static/pdf/
#flaskblog/static/pdf/*.001
#flaskblog/static/pdf/*.002
#flaskblog/static/pdf/*.003
#flaskblog/static/pdf/*.004
#flaskblog/static/pdf/*.005
#flaskblog/static/pdf/*.006
flaskblog/static/pdf/weekly052923.pdf
flaskblog/static/pdf/weekly060523.pdf
flaskblog/static/pdf/weekly061223.pdf
flaskblog/static/pdf/weekly061923.pdf
flaskblog/static/pdf/weekly062623.pdf
flaskblog/static/pdf/weekly070323.pdf
flaskblog/static/pdf/weekly071023.pdf
flaskblog/static/pdf/weekly071723.pdf
flaskblog/static/pdf/weekly971723.pdf
flaskblog/static/pdf/weekly072423.pdf
flaskblog/static/pdf/weekly073123.pdf
flaskblog/static/pdf/weekly080723.pdf
flaskblog/static/pdf/weekly081423.pdf
flaskblog/static/pdf/weekly082123.pdf
flaskblog/static/pdf/weekly082823.pdf
flaskblog/static/pdf/weekly090423.pdf
flaskblog/static/pdf/weekly091123.pdf
flaskblog/static/pdf/weekly091823.pdf
flaskblog/static/pdf/weekly092523.pdf
flaskblog/static/pdf/weekly100223.pdf
flaskblog/static/pdf/weekly100923.pdf
flaskblog/static/pdf/weekly101623.pdf
flaskblog/static/pdf/weekly102323.pdf
flaskblog/static/pdf/weekly103023.pdf
flaskblog/static/pdf/weekly110623.pdf
flaskblog/static/pdf/weekly111323.pdf
flaskblog/static/pdf/weekly112023.pdf
flaskblog/static/pdf/weekly112723.pdf
flaskblog/static/pdf/weekly120423.pdf
flaskblog/static/pdf/weekly121123.pdf
flaskblog/static/pdf/weekly121823.pdf
flaskblog/static/pdf/weekly122523.pdf
flaskblog/static/pdf/weekly010124.pdf
flaskblog/static/pdf/weekly010824.pdf
flaskblog/static/pdf/weekly011524.pdf
flaskblog/static/pdf/weekly012224.pdf
flaskblog/static/pdf/weekly012924.pdf
flaskblog/static/pdf/weekly020524.pdf
flaskblog/static/pdf/weekly021224.pdf
flaskblog/static/pdf/weekly021924.pdf
flaskblog/static/pdf/weekly022624.pdf
flaskblog/static/pdf/weekly030424.pdf
flaskblog/static/pdf/weekly031124.pdf
flaskblog/static/pdf/weekly031824.pdf
flaskblog/static/pdf/weekly032524.pdf
flaskblog/static/pdf/weekly040124.pdf
flaskblog/static/pdf/weekly040824.pdf
flaskblog/static/pdf/weekly041524.pdf
flaskblog/static/pdf/weekly042224.pdf
flaskblog/static/pdf/weekly042924.pdf
flaskblog/static/pdf/weekly050624.pdf
flaskblog/static/pdf/weekly051324.pdf
flaskblog/static/pdf/weekly052024.pdf
flaskblog/static/pdf/weekly052724.pdf
flaskblog/static/pdf/weekly060324.pdf
flaskblog/static/pdf/weekly061024.pdf
flaskblog/static/pdf/weekly061724.pdf
flaskblog/static/pdf/weekly062424.pdf
flaskblog/static/pdf/weekly070124.pdf
flaskblog/static/pdf/weekly070824.pdf
flaskblog/static/pdf/weekly071524.pdf
flaskblog/static/pdf/weekly072224.pdf
flaskblog/static/pdf/weekly072924.pdf
flaskblog/static/pdf/weekly080524.pdf
flaskblog/static/pdf/weekly081224.pdf
flaskblog/static/pdf/weekly081924.pdf
flaskblog/static/pdf/weekly082624.pdf
flaskblog/static/pdf/weekly090224.pdf
flaskblog/static/pdf/weekly090924.pdf
flaskblog/static/pdf/weekly091624.pdf
flaskblog/static/pdf/weekly092324.pdf
flaskblog/static/pdf/weekly093024.pdf
flaskblog/static/pdf/weekly101424.pdf
flaskblog/static/pdf/weekly102124.pdf
flaskblog/static/pdf/weekly110424.pdf
flaskblog/static/pdf/weekly111124.pdf
flaskblog/static/pdf/weekly112524.pdf
flaskblog/static/pdf/weekly120224.pdf
flaskblog/static/pdf/weekly120924.pdf
flaskblog/static/pdf/weekly121624.pdf
flaskblog/static/pdf/weekly122324.pdf
flaskblog/static/pdf/weekly123024.pdf
flaskblog/static/pdf/weekly010625.pdf
flaskblog/static/pdf/weekly011325.pdf
flaskblog/static/pdf/weekly012025.pdf
flaskblog/static/pdf/weekly012725.pdf