{% extends "layout.html" %}
{% block content %}
<div class="intro-page" style="height: 82vh;overflow: auto;"> 
  <div class="intro-pic" style="border-radius: 6px;">
  </div>
  <div class="intro-inner-div" style="height: 40vh;">

      <span class="welcome-caption", style="margin-top:50px;">Welcome to Trading Futures Indexes</span>
      <div>
        <center><h1 class="hero-header", style="text-align: center;">E-Mini Dow Jones Industrial Average</h1><hr></center>
      </div>
      <div class="adjust-doc-border-intro doc-clear">
      <div class="adjust-doc-border-intro doc-clear">
        <div class="adjust-doc-border-intro doc-clear" style="border-style:none;">
          
          <div class="adjust-doc-border-intro doc-clear">
            <p class="teaser-content">
              E-minis are futures contracts that represent a fraction of the value of standard futures. They are traded primarily on the Chicago Mercantile Exchange's Globex electronic trading platform and the New York Board of Trade.
            </p>
          </div>

          <div class="adjust-doc-border-intro doc-clear">
            <h3 class="hero-header"><b>Contract Specifications</b></h3>
            <p class="teaser-content">
              The contract specifications for the YM mini futures market are as follows:
              <ul>
              <li class="list"><b>Symbol:</b> YM
              <li class="list"><b>Expiration months:</b> March, June, September, and December( H M U Z )
              <li class="list"><b>Exchange:</b> Chicago Board of Trade(CBOT)
              <li class="list"><b>Currency:</b> U.S. Dollar
              <li class="list"><b>Tick size/Minimum Price Fluctuation:</b> 1.0 point
              <li class="list"><b>Tick Value or Profit/Loss Per Tick:</b> $5.00
              <li class="list"><b>Ticks Per Point:</b> One, making each point worth $5.00 per contract
              </li>
          </div>

          <div class="adjust-doc-border-intro doc-clear">
            <h3 class="hero-header"><b>Schedule</b></h3>
            <p class="teaser-content">
              In general, the emini futures market is open for trading every trading day, Sunday night through Friday night. <a href="http://www.cmegroup.com/tools-information/holiday-calendar.html" target="_blank" style="color:black;"><u>With the exception of holidays</u></a>, trading here is limited to market open and early afternoon session. Typically, a position is held no longer than a few minutes, if that. No positions are held overnight. Hence, margin requirements vary.
            </p>
          </div>

          <div class="adjust-doc-border-intro doc-clear">
            <h3 class="hero-header"><b>Strategy</b></h3>
            <p class="teaser-content">
              Style here is to scalp, catching small price movements, trading off of price charts. Each trading day is different. Method must work in nearly all market conditions.
            </p>
            <p class="teaser-content">
              Trading the YM is setup as entering either a buy stop, sell stop, or market order.  Positions are bracketed with a target and stop loss typically of 20 points. This translates to a profit/loss of $100.00 per contract. This does not include commissions. 
            </p>
            </div>

          <div class="adjust-doc-border-intro doc-clear">
            <h3 class="hero-header teaser-content"><b>Growing Pains</b></h3>
            <p class="teaser-content">
              Myself is my biggest enemy to success. Will I allow myself to win? Paper trading has no skin in the game. Hidden landmines along the journey have included overtrading, becoming too afraid to trade, chasing the market to recoup loss of last trade, not staying focused.
            </p>              
            <p class="teaser-content">
              Strengths to draw upon: discipline, patience, adaptability, mental toughness, independence, forward thinking.
            </p>
          </div>

          <div class="adjust-doc-border-intro doc-clear">
            <h3 class="hero-header teaser-content"><b>Discouragement</b></h3>
            <p class="teaser-content">
              <i>"Nothing stands between you and your goal but a total lack of talent and a complete failure of will."</i> -- An anonymous annual review.
            </p>              
          </div>

          <p class="teaser-content">
          <div class="adjust-doc-border-intro doc-clear">
          <div class="adjust-doc-border-intro doc-clear">
          <div class="adjust-doc-border-intro doc-clear">
          <h3 class="hero-header teaser-content">&nbsp;&nbsp;&nbsp;&nbsp;<b>A moment of self reflection........</b></h3>
          <div class="adjust-doc-border-intro doc-clear" style="border-style:ridge;">        
          <center><h3 class="hero-header"><b>Shattered Innocence</b></h3></center>
            <div class="intro-pic" style="background-image: url(static/img/portrait.jpg);" ></div>
            <div>
              <br>
              <center><p>I grieve the loss of my innocence.</p>

              <p>The mystery and possibilities that once were my world abandoned me,
              Frivolousness and claustrophobia left in their stead.</p>

              <p>Each door traversed turned an infinitude of magical could-be's into one cold has-been.
              No longer an endless, multi-dimensional path ahead,
              But a long line of footprints behind.</p>

              <p>I ache in sorrow not for my failures, but for my successes.
              They revealed the hollowness of early dreams,
              Failing my childhood.</p>

              <p>I feel grievously disappointed in people,
              From whom I once expected wisdom, strength and reassurance,
              But who are just as lost as me.</p>

              <p>Knowledge betrayed me.
              Maturity is the fall, and I fell.
              Having seen through my innocence, I now feel naked and vulnerable.</p>

              <p>In knowing, I have come to distrust the world.
              Even my own body is an insidious alien forced upon me by nature,
              Ready to ambush me at any time.</p>

              <p>I feel angry at nature for her being what she is.
              I feel furious at myself for having been such a fool,
              And for having allowed myself to drift so far from where I started.</p>

              <p>There are no masters.
              There is no safe refuge.
              There is nothing to hold on to.</p>

              <p>Where did I lose myself?
              When?
              Why?</p>

              <p>Fragments of shattered dreams,
              Evanescent shadows of what I once was,
              Are all I still have.</p>

              <p>I desperately miss the myth that once was real.</p>

              <p>--Bernardo Kastrup</p></center>
            </div>
          </div>
          <br>
          <p class="teaser-content">An excellent read to prep is<a href="https://www.earnforex.com/books/en/forex-market/phantom_of_the_pits.pdf" download style="color:black;"><u>"Phantom of the Pits"</u></a>
          </p>
          </div>
          </div>
        </div>
      </div>
      </div>
  </div>
</div>
{% endblock content %}  